In [ ]:
#importando as bibliotecas necessárias para fazer essa tarefa
#Por enquanto eu usarei o pandas para manipulas os dados

In [3]:
import pandas as pd

Aqui foi criado uma lista vazia que no futuro vai armazenar o nome dos meus arquivos que por fim vão ser concatenados.
porteiormente eu criei um laço que vai appendar do elemento 1 até o 7 do meu diretorio, deixei todos os arquivos com o mesmo nome para facilitar, sendo eles
[1(1), 1(2)....1(6)] depois criei outra lista vazia chamada dataframes e repeti um processo semelhante e por fim usei o metodo concat para concatenar todos os arquivos do
do meu diretorio facilitando subir um por um

In [22]:
# Criar uma lista para armazenar os nomes dos arquivos
arquivos = []

# Gerar os nomes dos arquivos
for i in range(1, 7):
    arquivos.append("1 ({}).xlsx".format(i))

# Criar uma lista vazia para armazenar os DataFrames
dataframes = []

# Ler cada arquivo e adicionar o DataFrame à lista
for arquivo in arquivos:
    dataframes.append(pd.read_excel(arquivo))

# Concatenar os DataFrames em um único DataFrame
df_consolidado = pd.concat(dataframes)

In [23]:
# Aqui transformei em dataframe a minha variabel df_consolidado

In [11]:
df_consolidado = pd.DataFrame(df_consolidado)

In [ ]:
# com o metodo shape é possivel visualizar a estrutura do meu dataframe, ou seja linhas e colunas

In [12]:
df_consolidado.shape

(2179, 32)

In [ ]:
# Aqui eu criei um laço para visualizar as colunas do meu dataframe usando o metodo do pandas .columns

In [15]:
for colum in df_consolidado.columns:
    print(colum)

UF
CTE
PEDIDO
NF
CLIENTE
VALOR
SITUAÇÃO
VENCIMENTO
COMPROVANTE
Shipment ID
FATURA
Order Code
Seller ID
Nome Fornece
Data Agend.
Vlr.Titulo
COMPROVANTES
SHIPMENTID
Razao Forn
Pedido
Nota
Cliente
Situação
Observação
Vencto Real
Val Liq Baix
Comprovantes
Fatura
SHIPMENT ID
Nota
Cliente
Situação

In [18]:
#Estou criando um nova coluna no meu dataframe chamada mês, Tal coluna usa como referencia o mÊs da minha coluna "VENCIMENTO".

In [26]:
df_consolidado['Mês'] = df_consolidado['VENCIMENTO '].dt.month

In [27]:
#Agora estou criando uma nova coluna correspondente a quizena que aquele valor foi cobrado. Para isso fiz uma list comprehension com a seguinte condição
# Se o dia for maior que 15 a coluna será preenchida com a string "Q2" , se não será preenchido com "Q1".
# Tudo isso será feito usando o metodo dt.day do pandas.

In [28]:
df_consolidado['quinzena'] = ['Q2' if dia > 15 else 'Q1' for dia in df_consolidado['VENCIMENTO '].dt.day]

In [29]:
df_consolidado.head(2)

,UF,CTE,PEDIDO,NF,CLIENTE,VALOR,SITUAÇÃO,VENCIMENTO,COMPROVANTE,Shipment ID,...,Vencto Real,Val Liq Baix,Comprovantes,Fatura,SHIPMENT ID,Nota,Cliente,Situação,Mês,quinzena
0,GOVERNO DO ESTADO DO CEARA,10083844322021,JADV8H2THNT1Q,1016.0,OLIST,1704.22,DEDICADO,2023-06-06,OK,1.071210e+13,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Q1
1,GOVERNO DO ESTADO DE ALAGOAS,18123100397562,JADAJDNTRGX5X,29472.0,OLIST,1555.57,DEDICADO,2023-06-30,OK,1.071210e+13,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Q2

In [ ]:
df_consolidado.pd_to